<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
<p>
    Пользователь {{user}}
    <form method="post" action="{% url 'users:logout' %}">
      {% csrf_token %}
      <button name="submit">Выйти</button>
    </form>
</p>
  {% else %}
    <p>Вы не авторизованы. Для записи войдите в систему</p>
    <p><button onclick="location.href='{% url 'users:login' %}'" type="button">Войти</button></p>
{% endif %}
<a href="{% url 'ads:ads-list' %}">ВСЕ ОБЪЯВЛЕНИЯ</a> |
<a href="{% url 'ads:user-ads' %}">МОИ ОБЪЯВЛЕНИЯ</a> |
<a href="{% url 'ads:proposal-list' %}">ПРОСМОТР ПРЕДЛОЖЕНИЙ</a> |
<a href="{% url 'ads:ad-create' %}">CОЗДАТЬ ОБЪЯВЛЕНИЕ</a> |

{% block content %}
{% endblock content %}
</body>
</html>