{% extends 'base.html' %}
{% block content %}
  <p>Детали объявления</p>
    <ul>
      <p>Заголовок: {{ object.title }}</p>
      <p>Описание: {{ object.description }}</p>
      <p>Image URL: {{ object.image_url }}</p>
      <p>Категории:
        {% for cat in object.category.all %}
          {{ cat }}
        {% endfor %}
      </p>
      <p>Состояние: {{ object.get_condition_display }}</p>
    </ul>
  {% if autor %}
    <button onclick="location.href='{% url 'ads:update-ad' object.pk %}'" type="button">обновить</button> ||
     <button onclick="location.href='{% url 'ads:delete-ad' object.pk %}'" type="button">удалить</button>
  {% endif %}
{% endblock content %}